.service-section {
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
    background-size: 100% 100%;
    display: inline-block!important;
    background-color: #f0faff;
}
.service-head-section {
    padding-right: 55px;
    padding-left: 70px;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.service-row {
    float:left;
    width: 50%;
    margin-bottom: 90px;
}
.service-row-circle {
    float:left;
    width: 18%;

}
.fade-in {
  animation: fade-in 3s ease;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


.scene img {
  margin-top: 10px;
}
.scene img {
  animation: rotate-in-up-left 3s ease;
}
@keyframes rotate-in-up-left {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

.service-row-img {
    position: absolute;
    right: 0px;
    top: 193px;
}
.service-row h1 {
    color: #fff;
    font-size: 40px;
    font-family:'Space Mono';
    font-weight: 700;
}
.service-row p {
    color: #ececec;
    font-size: 20px;
    font-family:'Space Mono';
    font-weight: 700;
}
input[type=know] {
    width: 55%;
    font-size: 16px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #ff5f5f;
    padding: 8px 20px;
    margin: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.6s;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
input[type=know]:hover {
    background-color:#ff5f5f;
    color: #fff;
  }
  .img-photo {
    background-color:#f0faff;
  }
  .our-service-section {
      background-color:#f0faff;
      padding-right: 55px;
      padding-left: 70px;
      margin: auto;
      width: 100%;
      overflow: hidden;
      margin-top: -10px;
    }
  .our-service h1 {
    font-size: 40px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #898989;
  }
  .our-service span {
    font-size: 20px;
    font-family: 'Space Mono';
    font-weight: 400;
    color: #8c8c8c;
    margin-top: 10px;
  }
  .services-design {
    float: left;
    width: 50%;
    /* display: flex; */
    margin-top: 89px;
  }
  .services-img{
    background-color: #ff5f5f;
    border-radius: 10px;
    padding: 15px;
    width: 68px;
    height: 68px;
    margin-bottom: 30px;
    }
    .serivces-content address{
        background-color: #e5e5e5;
        border-radius: 6px;
        width:252px;
        padding: 3px;
        text-align: center;
        margin-top: 10px;
        border-left: 7px solid #5fa8ff;
        }
    .framework{
        background-color: #e5e5e5;
        border-radius: 6px;
        width: 175px;
        padding: 3px;
        text-align: center;
            margin-top: 10px;
            border-left: 7px solid #5fa8ff;
     }
     .serivces-content {
        margin-left: 21px;
        display: inline-block;
      }
      .serivces-content span {
        font-size:20px;
        font-family: 'Space Mono';
        font-weight: 700;
        color: #ff5f5f;
        }
.services-design p {
    font-size:16px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #8c8c8c;
    /* margin-top: -35px; */
    width: 545px;
    
}
.services-design-section {
    background-color:#f0faff;
    padding-right: 55px;
    padding-left: 70px;
    margin: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    /* margin-top: -10px; */
}
.framework-react {
    background-color: #e5e5e5;
    border-radius: 6px;
    width: 129px;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
    border-left: 7px solid #5fa8ff;
}
/* .hubspot-address img{
    background-color: #ff5f5f;
    border-radius: 10px;
    padding: 15px;
    width: 68px;
    height: 68px;
    margin-bottom: 30px;
    } */
    .hubspot-address {
        float: left;
        width: 50%;
        display: flex;
        margin-top: 82px;
      }
.hubspot-content span {
        font-size:20px;
        font-family: 'Space Mono';
        font-weight: 700;
        color: #ff5f5f;
        }
.hubspot-content address{
            font-size:16px !important;
            font-family: 'Space Mono';
            font-weight: 700;
            line-height: 20px;
            color: #8c8c8c;
            width: 418px;
            margin-top: 10px;
 }
 .hubspot-content {
    margin-left: 21px;
  }
  .service-deco {
      float: right;
      margin-top: -68px;
  }
  .service-agile {
      text-align: center;
      padding-left: 150px;
      padding-top: 15px;
  }
  .service-agile h1 {
    font-size:40px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #434343;
  }
  .service-agile span {
    font-size:25px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #434343;
    display: table;
    margin: auto;
  }
  .services-methodology {
    padding-right: 55px;
    padding-left: 70px;
    margin: auto;
    /* width: 100%; */
    overflow: hidden;
}
.service-style {
  margin-top: 51px;
}
.service-evaluate {
  float: left;
  width: 46.5%;
}
.service-evaluate-stepper {
  float: left;
  width: 7%;
}
.service-evaluate span {
  font-size:25px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #000000;
}
.service-evaluate p {
  font-size:18px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #8c8c8c;
  margin-bottom: 50px;
}
.services-projects {
  background-color: #fbfbfb;
  /* padding-left: 169px;
  padding-right: 169px; */
  margin: auto;
  padding-bottom: 100px;
  display: flow-root !important;
}
.services-iot h1{
  font-size:40px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #434343;
  text-align: center;
  margin-top: 50px;
}
.service-project-column {
  float: left;
  width: 25%;
  padding: 0px 30px;

}
.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 13px;
  text-align: center;
  background-color: #fff;
}
.service-project-row {
  padding-left: 169px;
  padding-right: 169px;
  margin-top: 70px;
}
.iot {
  font-size:19px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #9d9d9d;
  margin: auto;
  padding-top: 15px;
  display: table;
}
.client-service {
  padding-top: 55px;
  padding-left: 70px;
  margin: auto;
  /* width: 100%; */
  overflow: hidden;
}
.service-left {
  float: left;
  width: 60%;
}
.service-left-alone {
  float: left;
  width: 40%;
}
.service-left h1 {
   font-size:40px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #434343;
}
.service-left span {
  font-size:40px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #ff5f5f ;
}
.service-left p {
  font-size:20px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #8c8c8c;
    line-height: 20px;
    margin-top: 40px;
    width: 748px;
}
.services-contact-page {
  background-color: #ff5f5f;
  padding-left: 124px;
  padding-right: 40px;
  margin-top: 100px;
  display: flow-root !important;
}
.services-contact-game  {
  float: left;
  width: 33%;
}
.services-contact-game p {
  color: #fff;
  font-size: 14px;
}
.services-contact-know  {
  float: left;
    margin-top: 45px;
    margin-left: 47px;
    width: 38%;
}
.services-contact-btn  {
  float: left;
    width: 25%;
    margin-top: 55px;
}
.services-contact-know span {
  font-size:30px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #fff;
}
.services-contact-game  {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 10px;
  /* text-align: center; */
  margin-top: -29px;
  margin-bottom: -29px;
  width: 303px;
  height: 250px;
  background-color: #161616;
  border: 4px solid #fff;
  border-radius: 6px;
}
.service-handcrafted {
  background-color: #f0faff;
  padding-top: 80px;
  display: flow-root;
  padding-left: 70px;
    padding-right: 40px;
    overflow: hidden;
}
.service-media h1{
  font-size:40px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #434343;
  text-align: center;
  margin-top: -10px;
  padding: 10px;
}
.service-media p{
  font-size:20px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #8c8c8c;
  margin: auto;
  width: 714px;
  text-align: center;
}
.service-media {
  margin-bottom: 100px;
}
.pickmyad-service {
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.pickmyad-service h1 {
  font-size:25px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #434343;
}
.pickmyad-service p {
  font-size:20px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #8c8c8c;
  margin-top: 20px;
}
.pickmyad-service span {
  font-size:20px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #ff5f5f;
}
input[type=know-More] {
  width: 22%;
  font-size: 16px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #fff;
  padding: 8px 20px;
  margin: 20px 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.6s;
  background-color: #ff5f5f;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
input[type=know-More]:hover {
  background-color:#fff;
  color: #ff5f5f;
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translate(0);
}
[data-aos="fade-right"] {
  transform: translate(-100px);
}
[data-aos="fade-left"] {
  transform: translate(100px);
}
.watsapp-section {
 
  /* background-size: 100% 100%;
  display: inline-block!important; */
  background-color: #1a4d3e;
}
.watsapp-row {
  float:right;
  width: 50%;
  margin-top: 85px;
  /* margin-bottom: 90px; */
}
.watsapp-row h1 {
  color: #fff;
  font-size: 40px;
  font-family:'Space Mono';
  font-weight: 700;
}
.watsapp-row p {
  color: #ececec;
  font-size: 20px;
  font-family:'Space Mono';
  font-weight: 700;
}
.watsapp-phone-section {
  position: absolute;
  top: 90px;
}
.watsapp-service-section {
  padding-right: 55px;
    padding-left: 70px;
    margin: auto;
    width: 100%;
    overflow: hidden;
    margin-top: -60px;
}
.watsapp-address img{
  background-color: #3aad65;
  border-radius: 10px;
  padding: 15px;
  width: 68px;
  height: 68px;
  margin-bottom: 30px;
}
.watsapp-address span{
       font-size:20px;
        font-family: 'Space Mono';
        font-weight: 700;
        color: #3aad65;
}
.watsapp-address {
  float: left;
  width: 50%;
  display: flex;
  margin-top: 82px;
}
.watsapp-speacial-section {
  /* padding-right: 55px;
  padding-left: 70px; */
  margin: auto;
  width: 100%;
  overflow: hidden;
  background-color: #f6ffeb;
}
.watsapp-hiring {
  padding-left: 70px;
}
.speacial-service {
  margin-bottom: 75px;
  padding-left: 70px;
}
.speacial-service h1{
  font-size: 40px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #898989;
}
.speacial-service span{
  font-size: 20px;
    font-family: 'Space Mono';
    font-weight: 400;
    color: #8c8c8c;
    margin-top: 10px;
}
.watsapp-choose {
  text-align: center;
  padding-top: 74px;

}
.watsapp-choose h1 {
  font-size: 30px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #434343;
}
.watsapp-choose span {
  font-size: 20px;
  font-family: 'Space Mono';
  font-weight: 700;
  color: #a5a5a5;
}
/* .watsapp-choose-img {
  float: left;
  width: 50%;
  display: flex;
  margin-top: 82px;
}
.watsapp-choose-address {
  float: left;
  width: 50%;
  display: flex;
  margin-top: 82px;
} */
/* .watsapp-choose-address img {
  background-color: #fe4949;
  border-radius: 40px;
  padding: 10px;
  width: 41px;
  height: 41px;
  margin-bottom: 30px;
}
.watsapp-choose-content p {
  font-size: 16px !important;
  font-family: 'Space Mono';
  font-weight: 700;
  line-height: 20px;
  color: #8c8c8c;
  width: 418px;
  margin-top: 10px;
} */
/* .watsapp-choose-content {
  margin-left: 21px;
}
.watsapp-choose-address p{
  font-size: 16px;
  font-family:'Space Mono' ;
  font-weight: 400;
  color: #8c8c8c;
  display: inline-block;
  margin-top: 13px;
  margin-left: 3px;
} */
.watsapp-choose-address {
  float: left;
  width: 50%;
  margin-top: 100px;
  margin-right: 40px;
}
/* .blogs-recentpost img {
  margin-top: 30px;
} */
.watsapp-recentpost p{
  color: #8c8c8c;
  font-family:'Space Mono' ;
  font-size: 16px;
  font-weight: 700;
  width: 400px;
  margin-top: 25px;
    margin-left: 15px;
  display: inline-block;
  }
  .chooseone {
    background-color: #fe4949;
    border-radius: 40px;
    padding: 10px;
    width: 41px;
    height: 41px;
    margin-top: -35px;

  }
  .chooseone-2 {
    background-color: #9868ff;
    border-radius: 40px;
    padding: 10px;
    width: 41px;
    height: 41px;
    margin-top: -35px;
  }
  .chooseone-3 {
    background-color: #6094f9;
    border-radius: 40px;
    padding: 10px;
    width: 41px;
    height: 41px;
    margin-top: -35px;
  }
  .chooseone-4 {
    background-color: #f960d7;
    border-radius: 40px;
    padding: 10px;
    width: 41px;
    height: 41px;
    margin-top: -35px;
  }
  .watsapp-chooseone {
    margin-top: 100px;
  }
